version: '3.8'

services: 
  spigot-server:
    build:
      context: ./spigot-server
      target: spigot-server
    volumes: 
      - minecraft_data:/var/minecraft/
      - ./spigot-server/config:/usr/src/minecraft/config
    ports:
      - "25565:25565"
    stop_grace_period: 90s
volumes:
  minecraft_data: